---
import { Image } from "astro:assets";


---

<a target="_blank" href="https://wa.me/+5218180102291" class=" text-xl bg-[#25D366] rounded py-3 px-5 text-white-bg fixed bottom-4 right-4 flex items-center">
  <Image src="/images/wha.svg" alt="whatsapp" height={25} width={25} class="w-6 h-6 inline-block mr-2 text-white-bg" />
  Contacto
</a>