<footer class="bg-white-bg py-10">
  <h4 class="text-gray text-4xl text-center font-primary pb-10">
    Nomina Pymes
  </h4>

  <div class="flex justify-center">
    <p class="text-center text-gray w-1/2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati explicabo
      amet nesciunt, vitae ullam officiis deserunt et est commodi quas dignissimos
    </p>
  </div>
</footer>
