---
import { Image } from "astro:assets";
---

<footer class="bg-white-bg py-10">
  <div>
    <Image
      class="mx-auto pb-10"
      src="/images/fullLogoColor.svg"
      alt="Logo"
      width="400"
      height="400" />
    <p class="text-center text-gray">
      Maquila de Nómina es el servicio que te permite contar con profesionistas
      especializados en el cálculo de la nómina
    </p>
  </div>
  <div></div>
  <div class="flex justify-center">
    <div class="h-0.5 bg-gray md:w-1/2 w-full mt-5"></div>
  </div>
</footer>
