<div class="bg-hero h-[600px] bg-cover bg-center">
  <div class="flex justify-start sm:ml-24 ml-10 pt-5 gap-5 items-center">
    <div>
      <img src="./images/logo.svg" alt="logo" class=" w-14">
    </div>
    <div>
      <h1 class=" text-white-bg font-primary font-extrabold md:text-3xl text-xl">Nomina Pymes</h1>
      <span class="text-gray">Maquila de Nomina</span>
    </div>
  </div>
  <div class="absolute top-72 md:ml-24">
    <h2 class=" text-white-bg md:text-5xl text-3xl font-extrabold">¡Cumple sin invertir!</h2>
    <div class="md:w-1/2 border-gray border-l-2">
      <p class="text-white-bg md:text-xl mt-5 pl-5 font-bold">Nuestra maquila de nómina es un servicio que ofrece la experiencia de profesionales en el cálculo de salarios, la gestión de impuestos y otros aspectos relacionados, garantizando la veracidad y puntualidad de la información proporcionada.</p>
    </div>
  </div>
</div>
