<div class="my-10">
  <h3
    class="uppercase text-gray text-4xl font-bold font-primary underline text-center mb-10"
  >
    ¿Necesitas más información?
  </h3>

  <div class="flex justify-center mt-10">
    <a
      href="/contacto"
      type="button"
      class="bg-primary text-white-bg font-secondary text-sm font-bold py-3 px-10 rounded-md"
    >
      Contacto
    </a>
  </div>
</div>
