---
import RequirementsCards from "./RequirementsCards.astro";
---

<div class="bg-bg-image object-center object-fill">
  <div class="py-10">
    <h2
      class="lg:text-6xl text-4xl font-extrabold font-primary uppercase text-center my-24 text-brown "
    >
      Requerimientos Necesarios
    </h2>
  
    <RequirementsCards />
  
  
  </div>

</div>
