---
import { SEO } from 'astro-seo';
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
	description: string;
	canonical?: string
}

const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<SEO 
			title={title}
			description={description}
			canonical={canonical}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="snMB-iVAlYCBmGzjtw5XDFpaWtbRw2NtX5m8AGMCkw0" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/base.css">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ViewTransitions />
	</head>
	<body class="bg-[#ffff]">
		<slot />
	</body>
</html>
